<div class="navbar-wagon-item ">
  <div class="dropdown hidden-xs hidden-sm" id="burger-menu-clicked">
    <%= render 'shared/burger_icon' %>
    <ul class="dropdown-menu-burger dropdown-menu-right background-xs">
      <% @categories.each do |category| %>
        <% if category.visible %>
          <div class="margin-by-category">
            <% if !category.with_description? %>
              <li><%= link_to category.title, categories_title_path(title: category.title_no_space), class:"#{'active-tab' if params[:title] ==  category.title_no_space} btns-burger" %> </li>
            <% end %>
            <% category.albums.each do |album| %>
              <% if album.has_pictures? %>
                <li><%= link_to album.title, album_path(title: album.title_no_space), class:"#{'active-tab' if params[:title] ==  album.title_no_space} btns-burger" %>
                 </li>
              <% end %>
            <% end %>
          </div>

        <% end %>
      <% end %>
      <div class="margin-by-category">
        <% if !@auteur.nil? %>
          <li><%= link_to "L'auteure", auteure_path, class:"btns-burger" %> </li>
        <% end %>
      </div>
    </ul>
  </div>
  <div class="hidden-md hidden-lg">
    <span id="openNav"><%= render 'shared/burger_icon' %></span>
    <div id="backOpen"></div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" id="closeNav">&times;</a>
      <div class="scrolling" id="style-1">



        <% @categories.each do |category| %>
          <% if category.visible %>
            <div class="margin-by-category">
              <% if !category.with_description? %>
                <li><%= link_to category.title, categories_title_path(title: category.title_no_space), class:"#{'active-tab' if params[:title] ==  category.title_no_space} btns-burger" %> </li>
              <% end %>
              <% category.albums.each do |album| %>
                <% if album.has_pictures? %>
                  <li><%= link_to album.title, album_path(title: album.title_no_space), class:"#{'active-tab' if params[:title] ==  album.title_no_space} btns-burger" %>
                   </li>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div class="margin-by-category">
          <% if !@auteur.nil? %>
            <li><%= link_to "L'auteure", auteure_path, class:"btns-burger" %> </li>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>


