
<% if params[:controller] == "albums" || params[:controller] == "categories" %>
  <%= render 'shared/navbar-black' %>
<% elsif params[:controller] == "pages" %>
  <% if params[:action] == "auteure" || params[:action] == "mentionslegales" %>
    <%= render 'shared/navbar-black' %>
  <% else %>
    <%= render 'shared/navbar-home' %>
  <% end %>
<% else %>
  <%= render 'shared/navbar-black' %>
<% end %>

<% if user_signed_in?  %>
  <div class="edit-website">
    <% if Category.all.count > 0 %>
      <%= link_to category_path(Category.first) do %>
        <i class="far fa-edit"></i>
      <% end %>
    <% else %>
      <%= link_to new_category_path do %>
        <i class="far fa-edit"></i>
      <% end %>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt"></i>
    <% end %>
  </div>
<% end %>
