<div class="container-all-dimension">
  <% if @album.title == "Privées" %>
    <div class="row add-max-width">
      <% @pictures.each do |picture| %>
        <% if @album.subtitle.present? && @pictures.first == picture %>
          <div class="first-title-album">
            <p><%= @album.subtitle %></p>
          </div>
        <% end %>
        <div class="visible-xs">
          <%= cl_image_tag picture.photo, style:"width:90vw; margin-bottom: 5vh;" %>
        </div>
        <div class="picture-show col-sm-6 hidden-xs" >
          <div class="div-picture-background ">
            <%= cl_image_tag picture.photo, style:"height: #{picture.hauteur}px", class:"get-width" %>
          </div>
          <div class="title-picture">
            <p class="p-picture"> <%= picture.title %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% elsif @album.title == "test"%>

    <% @pictures.each do |picture| %>
      <% if @album.subtitle.present? && @pictures.first == picture %>
        <div class="first-title-album visible-xs" style="<%= @pictures.count == 1 ? 'padding-top: 15vh': ''; %>">
          <p><%= @album.subtitle %></p>
        </div>
        <div class="first-title-album hidden-xs">
          <p><%= @album.subtitle %></p>
        </div>
      <% end %>
      <div class="picture-show"id="my-gallery">
        <div class="visible-xs">
          <%= cl_image_tag picture.photo, style:"width:90vw", :transformation=>[{:crop=>"scale"}, {angle: picture.rotation}] %>
        </div>
        <div class="div-picture-background hidden-xs" data-id="<%= picture.id %>">
          <%= cl_image_tag(picture.photo, :alt=> picture.alt, :transformation=>[{"#{picture.height_or_width}":"#{picture.hauteur}", :crop=>"scale"}, {angle:picture.rotation}]) %>
        </div>
        <div class="title-picture">
          <p class="p-picture"> <%= picture.title %></p>
        </div>
      </div>
    <% end %>

  <% else %>
    <% @pictures.each do |picture| %>
      <% if @album.subtitle.present? && @pictures.first == picture %>
        <div class="first-title-album visible-xs" style="<%= @pictures.count == 1 ? 'padding-top: 15vh': ''; %>">
          <p><%= @album.subtitle %></p>
        </div>
        <div class="first-title-album hidden-xs">
          <p><%= @album.subtitle %></p>
        </div>
      <% end %>
      <div class="picture-show">
        <div class="visible-xs">
          <%= cl_image_tag picture.photo, style:"width:90vw", :transformation=>[{:crop=>"scale"}, {angle: picture.rotation}] %>
        </div>
        <div class="div-picture-background hidden-xs" data-id="<%= picture.id %>">
          <%= cl_image_tag(picture.photo, :alt=> picture.alt, :transformation=>[{"#{picture.height_or_width}":"#{picture.hauteur}", :crop=>"scale"}, {angle:picture.rotation}]) %>
        </div>
        <div class="title-picture">
          <p class="p-picture"> <%= picture.title %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script src="https://product-gallery.cloudinary.com/all.js" type="text/javascript"></script>

  <!-- <div id="my-gallery" style="max-width:80%;margin:auto">
  </div> -->

  <script type="text/javascript">
  const myGallery= cloudinary.galleryWidget({
    container: "#my-gallery",
    cloudName: "dnks6vpqk",
    mediaAssets: [
      {tag: "electric_car_product_gallery_demo"} // by default mediaType: "image"
      // {tag: "electric_car_product_gallery_demo", mediaType: "video"},
      // {tag: "electric_car_360_product_gallery_demo", mediaType: "spin"}
    ]
  });

  myGallery.render();
</script>

