
<div class="container-all-dimension row" style="padding-top: 9vh !important; padding-bottom: 3vh !important;">
  <%= simple_form_for @picture do |f| %>
    <div class="col-lg-offset-1 col-sm-6">
      <label for="photo-upload" class="upload-label">
        <% if f.object.photo? %>
          <div id="img_prev" style="background-image: url('<%= cl_image_path f.object.photo %>' )">

          </div>
        <% else %>
          <div id="img_prev">
            <h4 style= "text-align: center; padding-top: 42%">Importe une image</h4>
          </div>
        <% end %>
      </label>
      <span class="btn btn-default btn-file hidden">
        <%= f.file_field :photo, id: "photo-upload" %>

      </span>
      <%= f.hidden_field :photo_cache %>
    </div>
    <div class="col-lg-5 select-album">
      <%= f.label :album, required: false %>
      <%= f.select :album_id, options_for_select( Album.all.where(category: @category).collect {|p| [ p.title, p.id ] }, selected: params[:query].present? ? params[:query] : params[:picture][:album_id]) %>
      <%= f.input :title, as: :text, label: "Titre" %>
      <%= f.input :hauteur, input_html: { value: f.object.hauteur || 550 } %>
      <%= f.label :rotation, required: false %>
      <br>
      <%= f.input :rotation, input_html: { value: f.object.rotation || 0 }, as: :hidden %>
      <div class="rotation btn" data-rotation="negative">
        <i class="fas fa-undo"></i>
      </div>
      <div class="rotation btn" data-rotation="positive">
        <i class="fas fa-redo"></i>
      </div>
    </div>
    <div class="btns-action">
      <%= link_to 'Retour', 'javascript:history.back()' %>
      <%= f.submit "Visualiser", class:"btn-action gray-background" %>
      <% if f.object.photo? %>
        <%= f.submit "Enregistrer la photo", class:"btn-action" %>
        <%= link_to "Supprimer", picture_path(f.object),
        method: :delete,
        data: { confirm: "Es tu sur?" } %>
      <% else %>
        <%= f.submit "Publier la photo", class:"btn-action" %>
      <% end %>
    </div>
  <% end %>

</div>
