<%= render 'shared/modal-add-album', category: @category, album: @album %>
<div class="container-all-dimension" style="padding-top: 9vh !important; padding-bottom: 3vh !important;" id="category-show">

  <div class="row">
    <button type="button" class="btn-action" data-toggle="modal" data-target="#newAlbumModal">
      <p>Créer un nouvel album</p>
    </button>
  </div>

  <% @category.albums.each do |album| %>
    <hr>
    <div style="margin: 15px;">
      <%= album.title %>
      <%= link_to "- Supprimer", category_album_path(@category, album),
        method: :delete,
        data: { confirm: "Es tu sur?" }, class:"delete-album" %>
    </div>

    <div class="row">
      <% album.pictures.order('created_at ASC').each do |picture| %>
        <div class="col-lg-3 col-xs-12 col-sm-4 card">
          <div class="picture-card" style="background-image: url('<%= cl_image_path picture.photo %>' )">
          </div>
          <div class="card-description">
            <p><%= picture.title %></p>
          </div>
          <%= link_to '#', edit_picture_path(picture, query: album.id ), class:"card-link" %>
        </div>
      <% end %>

      <div class="col-lg-3 col-xs-12 col-sm-4">
        <%= link_to 'Ajouter une photo', new_category_picture_path(@category, query: album.id ) %>
      </div>
    </div>
  <% end %>

</div>
