<!-- <#%= render 'shared/modal-add-album', category: @category, album: @album %> -->
<div class="container-all-dimension" style="padding-top: 2vh !important; padding-bottom: 3vh !important;" id="category-show">
    <p class="align-text-padding size-text"> <%= @category.visible? ? "Cette categorie est visible, décoches si tu ne veux plus qu'elle soit publique. " : "Coches si tu veux rendre publique cette categorie. " %>
    <label for="input_category_<%= @category.id %>" style="padding-left: 10px; cursor: pointer;">
      <i class="fas fa-check-circle check-icon-visibility <%= @category.visible ? "black-icon" : "gray-icon" %>"></i>
    </label></p>
  <%= simple_form_for @category, url: category_path(@category, query: "checking-visibility") do |f| %>
    <%= f.input :visible, :input_html => { class:"checking-visibility hidden", data: { targetId: "edit_category_#{f.object.id}"}, id:"input_category_#{f.object.id}"}, label: false %>
  <% end %>


  <div style="display: flex; justify-content: space-around;">
    <%= link_to 'Créer un nouvel album', new_category_album_path(@category), class:"btn-action" %>
    <%= link_to 'Modifier cette categorie', edit_category_path(@category) %>
  </div>

  <% @category.albums.order('created_at ASC').each do |album| %>
    <hr>
    <div style="margin: 15px;" id="album_<%= album.id %>">
      <%= album.title %>
      <%= link_to " - Modifier ", edit_album_path(album) %>
      <%= link_to "- Supprimer", album_path(album),
        method: :delete,
        data: { confirm: "Es tu sur?" }, class:"delete-album" %>
    </div>

    <div class="row GetDataJs" id="pictures" data-target="eql-height_<%= album.title_no_space %>">
      <% album.pictures.order('created_at ASC').each do |picture| %>
        <div class="col-lg-3 col-xs-12 col-sm-4 card" style="margin-bottom: 20px;">
          <div class="picture-card eql-height_<%= album.title_no_space %>" style="background-image: url('<%= cl_image_path picture.photo %>' )">
          </div>
          <div class="card-description" style="position:relative;">
            <p style="padding-right: 20px; margin-bottom: 7px !important;"><%= truncate(picture.title, :length => 50) %></p>
            <%= simple_form_for picture, url: picture_path( picture, query: "checking-visibility"), html: {class:"edit-visibility"} do |f| %>
              <label for="input_picture_<%= f.object.id %>">
                <i class="fas fa-check-circle check-icon-visibility <%= f.object.visible ? "black-icon" : "gray-icon" %>"></i>
              </label>
              <%= f.input :visible, :input_html => { class:"checking-visibility hidden", data: { targetId: "edit_picture_#{f.object.id}"}, id:"input_picture_#{f.object.id}"}, label: false %>
            <% end %>
          </div>
          <%= link_to '#', edit_picture_path(picture, query: album.id ), class:"card-link" %>
        </div>
      <% end %>

      <div class="col-lg-3 col-xs-12 col-sm-4 upload-label eql-height_<%= album.title_no_space %>" style="margin-bottom: 20px;" >
        <%= link_to new_category_picture_path(@category, query: album.id ), class:"padding-center" do %>
        <p class="padding-center">Ajouter une photo</p>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
