<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Images et encadrement par Chloé Rolland. </title>
    <meta name="description" content="Bienvenu.e.s ! Chloé Rolland choisit le digital pour publier son histoire « À l’Est du centre ». Un voyage initiatique raconté à travers sept années de rencontres et de déplacement…">


    <meta property="og:title" content="Images et encadrement par Chloé Rolland. ">
    <meta property="og:image" content="https://res.cloudinary.com/dnks6vpqk/image/upload/v1539331237/banner_image.jpg">
    <meta property="og:description" content="Bienvenu.e.s ! Chloé Rolland choisit le digital pour publier son histoire « À l’Est du centre ». Un voyage initiatique raconté à travers sept années de rencontres et de déplacement…">
    <meta property="og:site_name" content="Image."/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@chloerolland">
    <meta name="twitter:title" content="Images et encadrement par Chloé Rolland. ">
    <meta name="twitter:description" content="Bienvenu.e.s ! Chloé Rolland choisit le digital pour publier son histoire « À l’Est du centre ». Un voyage initiatique raconté à travers sept années de rencontres et de déplacement…">
    <meta name="twitter:creator" content="@chloerolland">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/dnks6vpqk/image/upload/v1539331237/banner_image.jpg">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <script type="text/javascript">
    var ga_fired = false;
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-128877751-1', 'auto');
                               ga('set', 'anonymizeIp', true);
      ga('send', 'pageview');
      ga_fired = true;
    </script>






  </head>
  <body id="body">
    <%= render 'shared/navbar-general' %>
    <%= yield %>
    <%= render 'shared/flashes' %>
    <% if params[:query] == "Visualiser" %>
      <%= render 'shared/back-btn' %>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>
